{% extends 'portfolioapp/base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'portfolioapp/css/main.css' %}">
</head>
<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container flex-lg-column">
        <a class="navbar-brand mx-lg-auto mb-lg-4" href="#">
            <span class="h3 fw-bold d-block d-lg-none">Emmanuel Mukombero</span>
            <img src="{% static 'portfolioapp/images/emmanuel2.jpg'  %}" class="d-none d-lg-block rounded-circle" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto flex-lg-column text-lg-center">

                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- //NAVBAR -->

<!--POST DETAIL-->
<div class="container">
    <h1>
        <a href="{% url 'blog-home' %}">BACK</a>
    </h1>
</div>
<div class="container col-md-8">
 
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                <div class="d-flex col-md-12">
                    <a class="mr-2" href="#">{{ post.author }}  | </a>
                    <small class="text-muted ml-auto">{{ post.date_time| date:"d M, Y" }}</small>
                </div>
              </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>

</div>
<!-- // POST DETAIL-->


{% endblock %}